In [1]:
import simfin as sf
import pandas as pd

In [2]:
# Set API Key 
sf.set_api_key('ZLj424KDiohtSc0u9bVaF7mIeIemoAir')

In [3]:
# Make Directory for Data 
sf.set_data_dir('~/simfin_data/')

In [4]:
# Create variable and pull in data for financial ratios
ratios_df = sf.load_derived(variant='quarterly-asreported', market='us')
print(ratios_df.head())

Dataset "us-derived-quarterly-asreported" on disk (0 days old).
- Loading from disk ... Done!
                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2010-07-31      45846      USD         2010            Q3   2010-10-06
       2010-10-31      45846      USD         2010            Q4   2010-12-20
       2011-01-31      45846      USD         2011            Q1   2011-03-09
       2011-04-30      45846      USD         2011            Q2   2011-06-07
       2011-07-31      45846      USD         2011            Q3   2011-09-07

                   Restated Date       EBITDA  Total Debt  Free Cash Flow  \
Ticker Report Date
A      2010-07-31     2011-09-07  175000000.0  3678000000     174000000.0
       2010-10-31     2012-12-20  270000000.0  3691000000     258000000.0
       2011-01-31     2012-03-05  274000000.0  2139000000      65000000.0
       2011-04-30     2012-06-04  330000000.0  2144000000     393000000.0
       2011-07-31     2012-09-05  344000000.0  2168000000      74000000.0

                    Gross Profit Margin  ...  Sales Per Share  \
Ticker Report Date                       ...
A      2010-07-31               0.52384  ...          3.98847
       2010-10-31               0.52919  ...          4.58140
       2011-01-31               0.53720  ...          4.37752
       2011-04-30               0.53667  ...          4.83285
       2011-07-31               0.52750  ...          4.85920

                    Equity Per Share  Free Cash Flow Per Share  \
Ticker Report Date
A      2010-07-31            8.07493                   0.50144
       2010-10-31            9.38372                   0.75000
       2011-01-31            9.60231                   0.18732
       2011-04-30           11.39193                   1.13256
       2011-07-31           12.04598                   0.21264

                    Dividends Per Share  Piotroski F-Score  \
Ticker Report Date
A      2010-07-31                   NaN                NaN
       2010-10-31                   0.0                6.0
       2011-01-31                   NaN                NaN
       2011-04-30                   0.0                NaN
       2011-07-31                   0.0                6.0

                    Return On Invested Capital  \
Ticker Report Date
A      2010-07-31                      0.02668
       2010-10-31                      0.03599
       2011-01-31                      0.02907
       2011-04-30                      0.02834
       2011-07-31                      0.04553

                    Cash Return On Invested Capital  Dividend Payout Ratio  \
Ticker Report Date
A      2010-07-31                           0.02264                    NaN
       2010-10-31                           0.03180                    0.0
       2011-01-31                           0.00979                    NaN
       2011-04-30                           0.05569                    0.0
       2011-07-31                           0.01021                    0.0

                    Net Debt / EBITDA  Net Debt / EBIT
Ticker Report Date
A      2010-07-31             7.77714         11.83478
       2010-10-31             3.85926          5.13300
       2011-01-31            -1.82117         -2.36493
       2011-04-30            -2.51818         -3.12406
       2011-07-31            -2.71221         -3.32028

[5 rows x 30 columns]

In [5]:
# Display data as a Dataframe
pd.DataFrame(ratios_df)

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2010-07-31      45846      USD         2010            Q3   2010-10-06
       2010-10-31      45846      USD         2010            Q4   2010-12-20
       2011-01-31      45846      USD         2011            Q1   2011-03-09
       2011-04-30      45846      USD         2011            Q2   2011-06-07
       2011-07-31      45846      USD         2011            Q3   2011-09-07
...                      ...      ...          ...           ...          ...
ZYXI   2020-09-30     171401      USD         2020            Q3   2020-10-27
       2020-12-31     171401      USD         2020            Q4   2021-02-25
       2021-03-31     171401      USD         2021            Q1   2021-04-29
       2021-06-30     171401      USD         2021            Q2   2021-07-29
       2021-09-30     171401      USD         2021            Q3   2021-11-02

                   Restated Date       EBITDA  Total Debt  Free Cash Flow  \
Ticker Report Date
A      2010-07-31     2011-09-07  175000000.0  3678000000     174000000.0
       2010-10-31     2012-12-20  270000000.0  3691000000     258000000.0
       2011-01-31     2012-03-05  274000000.0  2139000000      65000000.0
       2011-04-30     2012-06-04  330000000.0  2144000000     393000000.0
       2011-07-31     2012-09-05  344000000.0  2168000000      74000000.0
...                          ...          ...         ...             ...
ZYXI   2020-09-30     2020-10-27    1914000.0           0             NaN
       2020-12-31     2021-02-25    2827000.0           0      -3070000.0
       2021-03-31     2021-04-29    -594000.0           0      -6150000.0
       2021-06-30     2021-07-29    4422000.0           0       1714000.0
       2021-09-30     2021-11-02    8641000.0           0       6443000.0

                    Gross Profit Margin  ...  Sales Per Share  \
Ticker Report Date                       ...
A      2010-07-31               0.52384  ...          3.98847
       2010-10-31               0.52919  ...          4.58140
       2011-01-31               0.53720  ...          4.37752
       2011-04-30               0.53667  ...          4.83285
       2011-07-31               0.52750  ...          4.85920
...                                 ...  ...              ...
ZYXI   2020-09-30               0.78548  ...          0.52791
       2020-12-31               0.77899  ...          0.66900
       2021-03-31               0.75604  ...          0.62961
       2021-06-30               0.76575  ...          0.81016
       2021-09-30               0.80346  ...          0.90956

                    Equity Per Share  Free Cash Flow Per Share  \
Ticker Report Date
A      2010-07-31            8.07493                   0.50144
       2010-10-31            9.38372                   0.75000
       2011-01-31            9.60231                   0.18732
       2011-04-30           11.39193                   1.13256
       2011-07-31           12.04598                   0.21264
...                              ...                       ...
ZYXI   2020-09-30            1.43170                       NaN
       2020-12-31            1.48550                  -0.08021
       2021-03-31            1.46534                  -0.16049
       2021-06-30            1.49644                   0.04476
       2021-09-30            1.65730                   0.16847

                    Dividends Per Share  Piotroski F-Score  \
Ticker Report Date
A      2010-07-31                   NaN                NaN
       2010-10-31                   0.0                6.0
       2011-01-31                   NaN                NaN
       2011-04-30                   0.0                NaN
       2011-07-31                   0.0                6.0
...                                 ...                ...
ZYXI   2020-09-30                   0.0                2.0
       2020-12-31                   NaN                2.0
       2021-03-31                   NaN                1.0
       2021-06-30                   NaN                3.0
       2021-09-30                   NaN                5.0

                    Return On Invested Capital  \
Ticker Report Date
A      2010-07-31                      0.02668
       2010-10-31                      0.03599
       2011-01-31                      0.02907
       2011-04-30                      0.02834
       2011-07-31                      0.04553
...                                        ...
ZYXI   2020-09-30                      0.02311
       2020-12-31                      0.02880
       2021-03-31                     -0.01159
       2021-06-30                      0.03754
       2021-09-30                      0.07593

                    Cash Return On Invested Capital  Dividend Payout Ratio  \
Ticker Report Date
A      2010-07-31                           0.02264                    NaN
       2010-10-31                           0.03180                    0.0
       2011-01-31                           0.00979                    NaN
       2011-04-30                           0.05569                    0.0
       2011-07-31                           0.01021                    0.0
...                                             ...                    ...
ZYXI   2020-09-30                               NaN                    0.0
       2020-12-31                          -0.04947                    NaN
       2021-03-31                          -0.10095                    NaN
       2021-06-30                           0.02291                    NaN
       2021-09-30                           0.08011                    NaN

                    Net Debt / EBITDA  Net Debt / EBIT
Ticker Report Date
A      2010-07-31             7.77714         11.83478
       2010-10-31             3.85926          5.13300
       2011-01-31            -1.82117         -2.36493
       2011-04-30            -2.51818         -3.12406
       2011-07-31            -2.71221         -3.32028
...                               ...              ...
ZYXI   2020-09-30           -21.54075        -29.26118
       2020-12-31           -13.85674        -17.05398
       2021-03-31            56.29461         30.93340
       2021-06-30            -7.31117         -8.47444
       2021-09-30            -4.09304         -4.39572

[84085 rows x 30 columns]

In [17]:
# Drop unneeded columns
    # SimFinID has no relation to stock performance
    # All stock ratios are in US dollars
    # Restated date
    # Dividends Per Share and Dividends Payout Ratio filled with NaN or 0.0
ratios_df.drop(columns=['SimFinId', 'Currency', 'Restated Date', 'Dividends Per Share', 'Dividend Payout Ratio'], axis=1, inplace=True)
ratios_df

                   Fiscal Year Fiscal Period Publish Date       EBITDA  \
Ticker
AA     2016-12-31         2016            Q4   2017-02-03  315000000.0
       2017-03-31         2017            Q1   2017-05-10  533000000.0
       2017-06-30         2017            Q2   2017-08-03  470000000.0
       2017-09-30         2017            Q3   2017-10-27  525000000.0
       2017-12-31         2017            Q4   2018-02-26  738000000.0
...                        ...           ...          ...          ...
ZYXI   2020-09-30         2020            Q3   2020-10-27    1914000.0
       2020-12-31         2020            Q4   2021-02-25    2827000.0
       2021-03-31         2021            Q1   2021-04-29    -594000.0
       2021-06-30         2021            Q2   2021-07-29    4422000.0
       2021-09-30         2021            Q3   2021-11-02    8641000.0

                   Total Debt  Free Cash Flow  Gross Profit Margin  \
Ticker
AA     2016-12-31  1445000000     212000000.0              0.16318
       2017-03-31  1451000000     224000000.0              0.23051
       2017-06-30  1437000000     410000000.0              0.19237
       2017-09-30  1401000000     542000000.0              0.20344
       2017-12-31  1404000000     759000000.0              0.25677
...                       ...             ...                  ...
ZYXI   2020-09-30           0             NaN              0.78548
       2020-12-31           0      -3070000.0              0.77899
       2021-03-31           0      -6150000.0              0.75604
       2021-06-30           0       1714000.0              0.76575
       2021-09-30           0       6443000.0              0.80346

                   Operating Margin  Net Profit Margin  Return on Equity  ...  \
Ticker                                                                    ...
AA     2016-12-31           0.05242           -0.04927          -0.01624  ...
       2017-03-31           0.13333            0.08475           0.02756  ...
       2017-06-30           0.09794            0.02623           0.00915  ...
       2017-09-30           0.11167            0.03812           0.01392  ...
       2017-12-31           0.17297           -0.06175          -0.02883  ...
...                             ...                ...               ...  ...
ZYXI   2020-09-30           0.07036            0.06656           0.02458  ...
       2020-12-31           0.08971            0.06979           0.03143  ...
       2021-03-31          -0.04480           -0.02926          -0.01257  ...
       2021-06-30           0.12298            0.09052           0.04901  ...
       2021-09-30           0.23130            0.17556           0.09635  ...

                   Earnings Per Share, Basic  Earnings Per Share, Diluted  \
Ticker
AA     2016-12-31                   -0.67719                     -0.67204
       2017-03-31                    1.22283                      1.20968
       2017-06-30                    0.40761                      0.40323
       2017-09-30                    0.61081                      0.60428
       2017-12-31                   -1.07104                     -1.03704
...                                      ...                          ...
ZYXI   2020-09-30                    0.03514                      0.03416
       2020-12-31                    0.04669                      0.04558
       2021-03-31                   -0.01842                     -0.01842
       2021-06-30                    0.07333                      0.07009
       2021-09-30                    0.15968                      0.15642

                   Sales Per Share  Equity Per Share  \
Ticker
AA     2016-12-31         13.74424          30.63064
       2017-03-31         14.42935          31.93478
       2017-06-30         15.53804          32.35870
       2017-09-30         16.02162          31.68649
       2017-12-31         17.34426          24.71585
...                            ...               ...
ZYXI   2020-09-30          0.52791           1.43170
       2020-12-31          0.66900           1.48550
       2021-03-31          0.62961           1.46534
       2021-06-30          0.81016           1.49644
       2021-09-30          0.90956           1.65730

                   Free Cash Flow Per Share  Piotroski F-Score  \
Ticker
AA     2016-12-31                   1.14851                NaN
       2017-03-31                   1.21739                NaN
       2017-06-30                   2.22826                NaN
       2017-09-30                   2.92973                NaN
       2017-12-31                   4.14754                6.0
...                                     ...                ...
ZYXI   2020-09-30                       NaN                2.0
       2020-12-31                  -0.08021                2.0
       2021-03-31                  -0.16049                1.0
       2021-06-30                   0.04476                3.0
       2021-09-30                   0.16847                5.0

                   Return On Invested Capital  \
Ticker
AA     2016-12-31                    -0.00897
       2017-03-31                     0.01555
       2017-06-30                     0.00523
       2017-09-30                     0.00779
       2017-12-31                    -0.01379
...                                       ...
ZYXI   2020-09-30                     0.02311
       2020-12-31                     0.02880
       2021-03-31                    -0.01159
       2021-06-30                     0.03754
       2021-09-30                     0.07593

                   Cash Return On Invested Capital  Net Debt / EBITDA  \
Ticker
AA     2016-12-31                          0.01521            1.87937
       2017-03-31                          0.01548            1.21388
       2017-06-30                          0.02859            1.02766
       2017-09-30                          0.03737            0.53714
       2017-12-31                          0.05341            0.06233
...                                            ...                ...
ZYXI   2020-09-30                              NaN          -21.54075
       2020-12-31                         -0.04947          -13.85674
       2021-03-31                         -0.10095           56.29461
       2021-06-30                          0.02291           -7.31117
       2021-09-30                          0.08011           -4.09304

                   Net Debt / EBIT
Ticker
AA     2016-12-31          4.45113
       2017-03-31          1.82768
       2017-06-30          1.72500
       2017-09-30          0.85196
       2017-12-31          0.08379
...                            ...
ZYXI   2020-09-30        -29.26118
       2020-12-31        -17.05398
       2021-03-31         30.93340
       2021-06-30         -8.47444
       2021-09-30         -4.39572

[68167 rows x 25 columns]

In [18]:
# Create variable and pull in data for share prices ratios
prices_df = sf.load_shareprices(variant='daily', market='us')

Dataset "us-shareprices-daily" on disk (1 days old).
- Loading from disk ... Done!

In [21]:
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 8184900 entries, ('A', Timestamp('2007-01-03 00:00:00')) to ('ZYXI', Timestamp('2022-02-16 00:00:00'))
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   SimFinId            int64
 1   Open                float64
 2   Low                 float64
 3   High                float64
 4   Close               float64
 5   Adj. Close          float64
 6   Dividend            float64
 7   Volume              int64
 8   Shares Outstanding  float64
dtypes: float64(7), int64(2)
memory usage: 593.5+ MB

In [22]:
# Reset index for share price dataframe
prices_df.reset_index(inplace=True)
prices_df

,Ticker,Date,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume,Shares Outstanding
0,A,2007-01-03,45846,34.99,34.05,35.48,34.30,22.60,NaN,2574600,NaN
1,A,2007-01-04,45846,34.30,33.46,34.60,34.41,22.67,NaN,2073700,NaN
2,A,2007-01-05,45846,34.30,34.00,34.40,34.09,22.46,NaN,2676600,NaN
3,A,2007-01-08,45846,33.98,33.68,34.08,33.97,22.38,NaN,1557200,NaN
4,A,2007-01-09,45846,34.08,33.63,34.32,34.01,22.41,NaN,1386200,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8184895,ZYXI,2022-02-10,171401,7.40,7.40,7.82,7.52,7.52,NaN,387807,38257660.0
8184896,ZYXI,2022-02-11,171401,7.58,7.23,7.58,7.28,7.28,NaN,285973,38257660.0
8184897,ZYXI,2022-02-14,171401,7.38,7.17,7.49,7.22,7.22,NaN,298496,38257660.0
8184898,ZYXI,2022-02-15,171401,7.41,7.41,7.69,7.46,7.46,NaN,292834,38257660.0
8184899,ZYXI,2022-02-16,171401,7.45,7.16,7.45,7.24,7.24,NaN,312153,38257660.0

In [23]:
# Format the date time
prices_df.index = pd.to_datetime(prices_df.Date)

In [24]:
# Groupby Ticker so percent change in share price is for each individual stock
prices_df = prices_df.groupby("Ticker").resample("Q").last()
prices_df

                  Ticker       Date  SimFinId   Open    Low   High  Close  \
Ticker Date
A      2007-03-31      A 2007-03-30   45846.0  33.68  33.52  33.85  33.69
       2007-06-30      A 2007-06-29   45846.0  38.67  38.14  38.98  38.44
       2007-09-30      A 2007-09-28   45846.0  36.90  36.62  37.16  36.88
       2007-12-31      A 2007-12-31   45846.0  37.30  36.61  37.35  36.74
       2008-03-31      A 2008-03-31   45846.0  29.51  29.30  29.91  29.83
...                  ...        ...       ...    ...    ...    ...    ...
ZYXI   2021-03-31   ZYXI 2021-03-31  171401.0  13.60  13.45  14.05  13.88
       2021-06-30   ZYXI 2021-06-30  171401.0  14.13  13.88  14.39  14.12
       2021-09-30   ZYXI 2021-09-30  171401.0  10.58  10.32  10.70  10.35
       2021-12-31   ZYXI 2021-12-31  171401.0   9.23   9.04   9.40   9.06
       2022-03-31   ZYXI 2022-02-16  171401.0   7.45   7.16   7.45   7.24

                   Adj. Close  Dividend     Volume  Shares Outstanding
Ticker Date
A      2007-03-31       22.20       NaN  2560800.0                 NaN
       2007-06-30       25.33       NaN  1870000.0                 NaN
       2007-09-30       24.30       NaN  2267100.0                 NaN
       2007-12-31       24.21       NaN  2034900.0                 NaN
       2008-03-31       19.66       NaN  2249200.0                 NaN
...                       ...       ...        ...                 ...
ZYXI   2021-03-31       13.73       NaN   423240.0          38334769.0
       2021-06-30       13.97       NaN   144577.0          38244689.0
       2021-09-30       10.24       NaN   252514.0          38252195.0
       2021-12-31        8.97       NaN   265530.0          38257660.0
       2022-03-31        7.24       0.1   312153.0          38257660.0

[132465 rows x 11 columns]

In [25]:
# Check stock prices dataframe information
prices_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 132465 entries, ('A', Timestamp('2007-03-31 00:00:00')) to ('ZYXI', Timestamp('2022-03-31 00:00:00'))
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Ticker              132356 non-null  object
 1   Date                132356 non-null  datetime64[ns]
 2   SimFinId            132356 non-null  float64
 3   Open                131775 non-null  float64
 4   Low                 131751 non-null  float64
 5   High                131794 non-null  float64
 6   Close               131768 non-null  float64
 7   Adj. Close          131813 non-null  float64
 8   Dividend            59851 non-null   float64
 9   Volume              132356 non-null  float64
 10  Shares Outstanding  109309 non-null  float64
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 11.5+ MB

In [26]:
#Calculate percentage in stock price before merging
prices_df['returns'] = prices_df["Adj. Close"].groupby('Ticker').pct_change().shift(-1)
prices_df

                  Ticker       Date  SimFinId   Open    Low   High  Close  \
Ticker Date
A      2007-03-31      A 2007-03-30   45846.0  33.68  33.52  33.85  33.69
       2007-06-30      A 2007-06-29   45846.0  38.67  38.14  38.98  38.44
       2007-09-30      A 2007-09-28   45846.0  36.90  36.62  37.16  36.88
       2007-12-31      A 2007-12-31   45846.0  37.30  36.61  37.35  36.74
       2008-03-31      A 2008-03-31   45846.0  29.51  29.30  29.91  29.83
...                  ...        ...       ...    ...    ...    ...    ...
ZYXI   2021-03-31   ZYXI 2021-03-31  171401.0  13.60  13.45  14.05  13.88
       2021-06-30   ZYXI 2021-06-30  171401.0  14.13  13.88  14.39  14.12
       2021-09-30   ZYXI 2021-09-30  171401.0  10.58  10.32  10.70  10.35
       2021-12-31   ZYXI 2021-12-31  171401.0   9.23   9.04   9.40   9.06
       2022-03-31   ZYXI 2022-02-16  171401.0   7.45   7.16   7.45   7.24

                   Adj. Close  Dividend     Volume  Shares Outstanding  \
Ticker Date
A      2007-03-31       22.20       NaN  2560800.0                 NaN
       2007-06-30       25.33       NaN  1870000.0                 NaN
       2007-09-30       24.30       NaN  2267100.0                 NaN
       2007-12-31       24.21       NaN  2034900.0                 NaN
       2008-03-31       19.66       NaN  2249200.0                 NaN
...                       ...       ...        ...                 ...
ZYXI   2021-03-31       13.73       NaN   423240.0          38334769.0
       2021-06-30       13.97       NaN   144577.0          38244689.0
       2021-09-30       10.24       NaN   252514.0          38252195.0
       2021-12-31        8.97       NaN   265530.0          38257660.0
       2022-03-31        7.24       0.1   312153.0          38257660.0

                    returns
Ticker Date
A      2007-03-31  0.140991
       2007-06-30 -0.040663
       2007-09-30 -0.003704
       2007-12-31 -0.187939
       2008-03-31  0.191251
...                     ...
ZYXI   2021-03-31  0.017480
       2021-06-30 -0.267001
       2021-09-30 -0.124023
       2021-12-31 -0.192865
       2022-03-31       NaN

[132465 rows x 12 columns]

In [27]:
# Join the dataframes through intersectinon
intersect = ratios_df.index.intersection(prices_df.index)

In [28]:
# Prep dataframes for concatenation
ratios_df = ratios_df.loc[intersect, :].sort_index()
prices_df = prices_df.loc[intersect, :].sort_index()

In [29]:
# Create new dataframe for the combined stock price and ratio dataframes
concat_df = ratios_df.join(prices_df)

In [30]:
# View new dataframe information
concat_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 68167 entries, ('AA', Timestamp('2016-12-31 00:00:00')) to ('ZYXI', Timestamp('2021-09-30 00:00:00'))
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Fiscal Year                      68167 non-null  int64
 1   Fiscal Period                    68167 non-null  object
 2   Publish Date                     68167 non-null  datetime64[ns]
 3   EBITDA                           66131 non-null  float64
 4   Total Debt                       68167 non-null  int64
 5   Free Cash Flow                   59558 non-null  float64
 6   Gross Profit Margin              61148 non-null  float64
 7   Operating Margin                 66510 non-null  float64
 8   Net Profit Margin                66510 non-null  float64
 9   Return on Equity                 68167 non-null  float64
 10  Return on Assets                 68163 non-null  float64
 11  Free Cash Flow to Net Income     59539 non-null  float64
 12  Current Ratio                    68161 non-null  float64
 13  Liabilities to Equity Ratio      68167 non-null  float64
 14  Debt Ratio                       68163 non-null  float64
 15  Earnings Per Share, Basic        67826 non-null  float64
 16  Earnings Per Share, Diluted      67824 non-null  float64
 17  Sales Per Share                  66419 non-null  float64
 18  Equity Per Share                 67406 non-null  float64
 19  Free Cash Flow Per Share         59292 non-null  float64
 20  Piotroski F-Score                50005 non-null  float64
 21  Return On Invested Capital       68167 non-null  float64
 22  Cash Return On Invested Capital  59558 non-null  float64
 23  Net Debt / EBITDA                65955 non-null  float64
 24  Net Debt / EBIT                  67977 non-null  float64
 25  Ticker                           68147 non-null  object
 26  Date                             68147 non-null  datetime64[ns]
 27  SimFinId                         68147 non-null  float64
 28  Open                             68120 non-null  float64
 29  Low                              68118 non-null  float64
 30  High                             68121 non-null  float64
 31  Close                            68120 non-null  float64
 32  Adj. Close                       68140 non-null  float64
 33  Dividend                         30542 non-null  float64
 34  Volume                           68147 non-null  float64
 35  Shares Outstanding               66663 non-null  float64
 36  returns                          68140 non-null  float64
dtypes: datetime64[ns](2), float64(31), int64(2), object(2)
memory usage: 21.5+ MB

In [31]:
# Display combined dataframe
concat_df

                   Fiscal Year Fiscal Period Publish Date       EBITDA  \
Ticker
AA     2016-12-31         2016            Q4   2017-02-03  315000000.0
       2017-03-31         2017            Q1   2017-05-10  533000000.0
       2017-06-30         2017            Q2   2017-08-03  470000000.0
       2017-09-30         2017            Q3   2017-10-27  525000000.0
       2017-12-31         2017            Q4   2018-02-26  738000000.0
...                        ...           ...          ...          ...
ZYXI   2020-09-30         2020            Q3   2020-10-27    1914000.0
       2020-12-31         2020            Q4   2021-02-25    2827000.0
       2021-03-31         2021            Q1   2021-04-29    -594000.0
       2021-06-30         2021            Q2   2021-07-29    4422000.0
       2021-09-30         2021            Q3   2021-11-02    8641000.0

                   Total Debt  Free Cash Flow  Gross Profit Margin  \
Ticker
AA     2016-12-31  1445000000     212000000.0              0.16318
       2017-03-31  1451000000     224000000.0              0.23051
       2017-06-30  1437000000     410000000.0              0.19237
       2017-09-30  1401000000     542000000.0              0.20344
       2017-12-31  1404000000     759000000.0              0.25677
...                       ...             ...                  ...
ZYXI   2020-09-30           0             NaN              0.78548
       2020-12-31           0      -3070000.0              0.77899
       2021-03-31           0      -6150000.0              0.75604
       2021-06-30           0       1714000.0              0.76575
       2021-09-30           0       6443000.0              0.80346

                   Operating Margin  Net Profit Margin  Return on Equity  ...  \
Ticker                                                                    ...
AA     2016-12-31           0.05242           -0.04927          -0.01624  ...
       2017-03-31           0.13333            0.08475           0.02756  ...
       2017-06-30           0.09794            0.02623           0.00915  ...
       2017-09-30           0.11167            0.03812           0.01392  ...
       2017-12-31           0.17297           -0.06175          -0.02883  ...
...                             ...                ...               ...  ...
ZYXI   2020-09-30           0.07036            0.06656           0.02458  ...
       2020-12-31           0.08971            0.06979           0.03143  ...
       2021-03-31          -0.04480           -0.02926          -0.01257  ...
       2021-06-30           0.12298            0.09052           0.04901  ...
       2021-09-30           0.23130            0.17556           0.09635  ...

                   SimFinId   Open    Low   High  Close  Adj. Close  Dividend  \
Ticker
AA     2016-12-31  367153.0  28.97  28.01  29.38  28.08       28.02      0.09
       2017-03-31  367153.0  34.06  33.60  34.74  34.40       34.33       NaN
       2017-06-30  367153.0  33.16  32.53  33.45  32.65       32.58       NaN
       2017-09-30  367153.0  46.45  45.90  47.00  46.62       46.52       NaN
       2017-12-31  367153.0  54.00  53.52  54.61  53.87       53.75       NaN
...                     ...    ...    ...    ...    ...         ...       ...
ZYXI   2020-09-30  171401.0  15.55  15.49  16.25  15.86       15.69       NaN
       2020-12-31  171401.0  12.71  12.15  12.75  12.24       12.11       NaN
       2021-03-31  171401.0  13.60  13.45  14.05  13.88       13.73       NaN
       2021-06-30  171401.0  14.13  13.88  14.39  14.12       13.97       NaN
       2021-09-30  171401.0  10.58  10.32  10.70  10.35       10.24       NaN

                      Volume  Shares Outstanding   returns
Ticker
AA     2016-12-31  2685997.0                 NaN  0.225196
       2017-03-31  5188399.0         182930995.0 -0.050976
       2017-06-30  3014777.0         182930995.0  0.427870
       2017-09-30  3822240.0         184339532.0  0.155417
       2017-12-31  5170353.0         185022929.0 -0.165395
...                      ...                 ...       ...
ZYXI   2020-09-30  1115434.0          38210992.0 -0.228171
       2020-12-31   318435.0          38271124.0  0.133774
       2021-03-31   423240.0          38334769.0  0.017480
       2021-06-30   144577.0          38244689.0 -0.267001
       2021-09-30   252514.0          38252195.0 -0.124023

[68167 rows x 37 columns]

In [33]:
# Drop NA's
concat_df.dropna(inplace=True)
concat_df

                   Fiscal Year Fiscal Period Publish Date       EBITDA  \
Ticker
AAN    2020-12-31         2020            Q4   2021-01-26   96251000.0
       2021-03-31         2021            Q1   2021-04-27  226118000.0
       2021-06-30         2021            Q2   2021-07-27  207076000.0
AAON   2012-12-31         2012            Q4   2013-03-14   15423000.0
       2013-06-30         2013            Q2   2013-08-08   21664000.0
...                        ...           ...          ...          ...
ZTS    2020-09-30         2020            Q3   2020-11-05  775000000.0
       2020-12-31         2020            Q4   2021-02-16  622000000.0
       2021-03-31         2021            Q1   2021-05-06  864000000.0
       2021-06-30         2021            Q2   2021-08-05  836000000.0
       2021-09-30         2021            Q3   2021-11-04  838000000.0

                   Total Debt  Free Cash Flow  Gross Profit Margin  \
Ticker
AAN    2020-12-31      831000     370051000.0              0.13569
       2021-03-31      338000     152377000.0              0.63001
       2021-06-30           0     292445000.0              0.63034
AAON   2012-12-31           0      20367000.0              0.24009
       2013-06-30           0      32399000.0              0.30333
...                       ...             ...                  ...
ZTS    2020-09-30  7696000000     695000000.0              0.69429
       2020-12-31  7199000000     709000000.0              0.66740
       2021-03-31  7191000000     632000000.0              0.70657
       2021-06-30  7196000000     668000000.0              0.70842
       2021-09-30  6592000000     886000000.0              0.70553

                   Operating Margin  Net Profit Margin  Return on Equity  ...  \
Ticker                                                                    ...
AAN    2020-12-31           0.04938            0.10377          -0.12216  ...
       2021-03-31           0.14518            0.07551           0.04913  ...
       2021-06-30           0.12665            0.07054           0.04495  ...
AAON   2012-12-31           0.15505            0.09714           0.05486  ...
       2013-06-30           0.20371            0.13282           0.07946  ...
...                             ...                ...               ...  ...
ZTS    2020-09-30           0.37178            0.26820           0.13280  ...
       2020-12-31           0.28390            0.19867           0.09515  ...
       2021-03-31           0.40353            0.29877           0.13661  ...
       2021-06-30           0.37166            0.26283           0.11765  ...
       2021-09-30           0.36583            0.27739           0.11792  ...

                   SimFinId    Open     Low    High   Close  Adj. Close  \
Ticker
AAN    2020-12-31  441241.0   18.07   17.92   19.38   18.96       18.69
       2021-03-31  441241.0   25.25   25.01   26.01   25.68       25.40
       2021-06-30  441241.0   32.56   31.88   32.99   31.99       31.73
AAON   2012-12-31  919501.0    9.02    8.96    9.31    9.28        8.68
       2013-06-30  919501.0   14.72   14.22   15.01   14.70       13.80
...                     ...     ...     ...     ...     ...         ...
ZTS    2020-09-30  378251.0  162.92  162.75  166.79  165.37      164.00
       2020-12-31  378251.0  164.50  163.23  165.68  165.50      164.34
       2021-03-31  378251.0  157.53  156.93  158.63  157.48      156.61
       2021-06-30  378251.0  188.11  185.58  188.53  186.36      185.61
       2021-09-30  378251.0  195.94  194.05  198.12  194.14      193.60

                   Dividend     Volume  Shares Outstanding   returns
Ticker
AAN    2020-12-31      9.60   541665.0          67140559.0  0.359016
       2021-03-31      0.10   335875.0          34204911.0  0.249213
       2021-06-30      0.10   301110.0          34169998.0 -0.135834
AAON   2012-12-31      0.11   160801.0          55166000.0  0.322581
       2013-06-30      0.04   438800.0          55102847.0  0.204348
...                     ...        ...                 ...       ...
ZTS    2020-09-30      0.20  1906706.0         475242731.0  0.002073
       2020-12-31      0.20  1292649.0         475317751.0 -0.047037
       2021-03-31      0.25  1564136.0         474973405.0  0.185173
       2021-06-30      0.25  1203613.0         474766701.0  0.043047
       2021-09-30      0.25  1785791.0         474766701.0  0.258471

[21613 rows x 37 columns]